<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   <h1>Admin Page</h1> 
   <a href="#" id="pay">이용권</a>
   <a href="#" id="member">회원</a>
   <a href="#" id="help">고객센터</a>
   <a href="#" id="crawling">웹 크롤링</a>
   <script>
       $('#pay').click(e=>{location.href="/move/admins/pay"})
   </script>
</body>
</html>